@import "tailwindcss";

html {
  background: #141414;
  scroll-behavior: smooth;
}

#root {
  margin-top: 18px;
}

.text-inner-shadow {
  color: white;

  filter: url(#inner-shadow);
}

.embla__slide.is-selected {
  opacity: 1;
  transform: scale(1);
}

/* index.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeIn 0.3s ease-out forwards;
}

.animate-slide {
  animation: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-right {
  animation: slideRight 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
